* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('../images/picture3.jpg');
    background-repeat: none;
    background-size: cover;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 23px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

div.container {
    width: 100%;
}

div.box {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(192, 176, 176);
    margin: 40px 60px;
    padding: 20px;
}

.heading {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    color: papayawhip;
    padding: 5px;
    background-color: transparent;
}

ul{
    padding-left: 10px;
}

li.paragraph {
    
    padding: 2px;
    text-decoration: none;
    margin: 2px;
    font-size: 23px;
    padding-bottom: 5px;
    
}

li.properties {
    border-bottom: 1px solid whitesmoke;
    list-style-type: none;
    padding-bottom: 15px;
    font-size: 20px;
}

h3 {
    color: ghostwhite;
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
    
    .nav-links ul li a{
        font-size: 17px;
    }

    .text-box h1{
        font-size: 52px;
    }
    .text-box p{
        font-size: 20px;
    }
    
    li.paragraph {
        font-size: 17px;
    }
    .heading {
        font-size: 22px;
      
    }
    .hero-btn{
        font-size: 20px;
         
    }
    li.properties {
        font-size: 15px;
    }
}