<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>Billboard Hot100 Prediction</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <section class="header">
        <nav>
            <div class="nav-links">
            <ul>
                <li><a href="/" >HOME</a></li>
                <li><a href="/artist" >PREDICTION</a> </li>
                <li><a href="/about" >ABOUT</a> </li>
                </ul></div>
            
        </nav>
      <div class="text-box">
            <h1>Billboard Hot 100 Prediction</h1>
            <p> Predicting the chances of a song to be in Billboard Hot 100 List using Spotify API</p>
            <a href="/artist" class="hero-btn">Start Predicting </a>
    </div>  
        </section>
    </body>
</html>